 body {
     background-color: #55524A;

 }

h1{
    text-align: center;
    color: aqua;
}
img{
    display: flex;
   
    width: 120px;
    height: 120px;
    
}
.saveBtn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.inp-Exersice{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    
}
 /* Background for tablets (max-width: 768px) */
 @media only screen and (max-width: 768px) {
    body {
        background-color: #55524A;
   
    }
    h1{
        text-align: center;
        color: aqua;
    }
 }


 @media only screen and (max-width: 480px) {
    body {
        background-color: #55524A;
   
    }
    h1{
        text-align: center;
        color: aqua;
    }
 }